.wrapper{
    width: 100%;
    height: 100vh;
}

/* GENERAL */


main{
    display: flex;
    height: calc(100% - var(--nav_hgt));
}

/* VARIABLES */
:root{
    --left_nav_wdt: 70px;
    --nav_hgt: 50px;
    --left_nav_lg_wdt: 100px;
}

/* UTILITIES */
.side_btn{

}

/* CLASSES */
.content{
    width: calc(100% - var(--left_nav_wdt));
    height: 100%;
    overflow-y: auto;
    background-color: #191e25;
}

.left_nav{
    width: var(--left_nav_wdt);
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(47, 52, 79);
}

.left_nav *{
    padding: 5px 0;
}

.left_nav > span{
    justify-self: flex-end;
}

nav{
    height: var(--nav_hgt);
    background-color: #27242b;
    position: sticky
}

nav .row{
    color: white;
    justify-content: space-between;
    align-items: center;
    height: var(--nav_hgt);
}

nav .row div:first-child{
    text-align: left;
    background-color: violet;
}

nav .row div:nth-child(2){
    background-color: blue;
}

nav .row div:last-child{
    text-align: right;
    background-color: green;
}

.jumbotron{
    background-color: dodgerblue;
    color: white;
}

.jumbo_container{
    padding: 10px 0;
}

.jumbo_container > *{
    padding: 10px 0;
}

.jumbo_container > div h5{
    margin-bottom: 0;
    font-size: 1rem;
    margin-right: 10px;
}

.plus_icon{
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.plus_icon i{
    padding-top: 5px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    .left_nav{
        width: var(--left_nav_lg_wdt);
    }
}