.wrapper{
    width: 100%;
    height: 100vh;
}

/* GENERAL */
img{
    width: 100%;
}

main{
    display: flex;
    height: calc(100% - var(--nav_hgt));
}

.accordion-body{
    font-size: 0.8rem;
}
/* VARIABLES */
:root{
    --left_nav_wdt: 70px;
    --nav_hgt: 50px;
    --left_nav_lg_wdt: 100px;
}

/* UTILITIES */

.badge{
    font-size: 0.6rem;
}

.act_icons{
    display: inline-block;
    color: grey;
    border: 1px solid grey;
    border-radius: 3px;
    width: 28px;
}

.black_txt{
    color: black;
}

/* CLASSES */
.content{
    width: calc(100% - var(--left_nav_wdt));
    height: 100%;
    overflow-y: auto;
}

.left_nav{
    width: var(--left_nav_wdt);
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(47, 52, 79);
}

.left_nav *{
    padding: 5px 0;
}

.left_nav > span{
    justify-self: flex-end;
}

nav{
    height: var(--nav_hgt);
    background-color: white;
    position: sticky
}

.logo_full{
    width: 110px;
}

.logo_small{
    width: 50px;
}

nav .row{
    color: white;
    justify-content: space-between;
    align-items: center;
    height: var(--nav_hgt);
}

nav .row div:first-child{
    text-align: left;
}

.ms_bell{
    color: goldenrod;
}

nav .row div:last-child{
    text-align: center;
}

.ms_searchbar{
    background-color: #e4e4e4;
    border-width: 0px;
}


.jumbotron{
    background-color: dodgerblue;
    color: white;
}

.jumbo_container{
    padding: 10px 0;
}

.jumbo_container > *{
    padding: 10px 0;
}

.jumbo_container > div h5{
    margin-bottom: 0;
    font-size: 1rem;
    margin-right: 10px;
}

.plus_icon{
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.plus_icon i{
    padding-top: 5px;
}

.blaze_plan{
    font-size: 0.75rem;
}

.chevron_icon{
    font-size: 0.75rem;
}

.table_container{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.class_avatar{
    width: 20px;
}

.first_col_container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.first_col_container .card:nth-child(2) {
    margin-top: 20px;
}

.second_col_container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_col_container .card:nth-child(2) {
    margin-top: 20px;
}

.sect_containers{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0;
}

.titles_padding{
    margin: 0.5rem 0;
    padding: 0 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    .left_nav{
        width: var(--left_nav_lg_wdt);
    }
}